## __Preparing and Shaping Data__

- In this topic, we will discuss how to prepare the data and ensure its shape.

- Let's start by importing the required libraries.

## Step 1: Import Required Libraries

- Import pandas and NumPy libraries

In [ ]:
import pandas as pd
import numpy as np

## Step 2: Load the Dataset

- Load the **titanic** dataset and display the first few rows
- Return a description of the dataset using the describe() method

In [ ]:
df = pd.read_csv('titanic.csv', sep= ',')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

__Observation:__

- Here, we have **Pclass**, **Name**, **Sex**, **Age**, **SibSp**(sibling and spouse), **Parch**(parent and child), **Ticket**.

In [ ]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

__Observations:__

- Here, the mean and median are not applicable for **PassengerId**.
- 29 is the mean age, and 80 is the maximum age.
- Similarly, 32 is the mean, and 512 is the max for **Fare**.

- Now, let's look into the data types using **df.info** or dtypes.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

__Observation:__
- Here, both non-null counts,
as well as the data type, is printed.

## Step 3: Data Preprocessing

- Let's club siblings with spouse,
and parent with child ticket together.
- Create a variable called **Travelalone** for people who are traveling alone
- Create a variable and then add it
- If it is greater than zero,
then they are not traveling alone.
- However, if it is less than zero,
then they are traveling alone.

In [ ]:
df['Travelalone'] =  np.where((df['SibSp'] + df['Parch']) > 0, 0 , 1).astype('uint8')

**Observation:**
- Now that
a **Travelalone** attribute is created, let's drop the unnecessary data columns and check if there are any missing values.

In [ ]:
df1 = df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin'], axis =1)

In [ ]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Travelalone      0
dtype: int64

__Observation:__

- As we can see, there are missing values
in age and cabin.

- Let’s check in **df1** since we have deleted cabin.

In [ ]:
df1.isna().sum()

Survived         0
Pclass           0
Sex              0
Age            177
Fare             0
Embarked         2
Travelalone      0
dtype: int64

__Observation:__
- There are missing values in age, so let's replace them.

In [ ]:
df1['Age'].fillna(df1['Age'].median(skipna=True), inplace=True)

In [ ]:
df1.head()

   Survived  Pclass     Sex   Age     Fare Embarked  Travelalone
0         0       3    male  22.0   7.2500        S            0
1         1       1  female  38.0  71.2833        C            0
2         1       3  female  26.0   7.9250        S            1
3         1       1  female  35.0  53.1000        S            0
4         0       3    male  35.0   8.0500        S            1

__Observation:__

- There are categorical variables like **Sex** and **Embarked**.

In [ ]:
df_titantic = pd.get_dummies(df1, columns= ['Pclass', 'Embarked', 'Sex'],drop_first= True)

In [ ]:
df_titantic.head()

,Survived,Age,Fare,Travelalone,Pclass_2,Pclass_3,Embarked_Q,Embarked_S,Sex_male
0,0,22.0,7.2500,0,0,1,0,1,1
1,1,38.0,71.2833,0,0,0,0,0,0
2,1,26.0,7.9250,1,0,1,0,1,0
3,1,35.0,53.1000,0,0,0,0,1,0
4,0,35.0,8.0500,1,0,1,0,1,1

__Observation:__

- Hence, the dummy values are created.

## Step 4: Prepare Features and Target Variables

- Let’s try to preprocess the data and create a scaler to standardize the data points

- Create x and y values for the same

In [ ]:
X = df_titantic.drop(['Survived'], axis =1)
y = df_titantic['Survived']

- Now, let's import the **MinMaxScaler** and **StandardScaler**.

- Then, transpose that and call it as **MM** or **MinMaxScaler**.

- Finally, transfer and print the data.

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
trans_MM = MinMaxScaler()
trans_SS = StandardScaler()

In [ ]:
df_MM = trans_MM.fit_transform(X)
pd.DataFrame(df_MM)

            0         1    2    3    4    5    6    7
0    0.271174  0.014151  0.0  0.0  1.0  0.0  1.0  1.0
1    0.472229  0.139136  0.0  0.0  0.0  0.0  0.0  0.0
2    0.321438  0.015469  1.0  0.0  1.0  0.0  1.0  0.0
3    0.434531  0.103644  0.0  0.0  0.0  0.0  1.0  0.0
4    0.434531  0.015713  1.0  0.0  1.0  0.0  1.0  1.0
..        ...       ...  ...  ...  ...  ...  ...  ...
886  0.334004  0.025374  1.0  1.0  0.0  0.0  1.0  1.0
887  0.233476  0.058556  1.0  0.0  0.0  0.0  1.0  0.0
888  0.346569  0.045771  0.0  0.0  1.0  0.0  1.0  0.0
889  0.321438  0.058556  1.0  0.0  0.0  0.0  0.0  1.0
890  0.396833  0.015127  1.0  0.0  1.0  1.0  0.0  1.0

[891 rows x 8 columns]

__Observations:__

- For **Age** and **Fare** in MinScaler, the values have changed from 0 to 1.

- Some of the attributes are also in the range of 0 to 1.

- MinMaxScaler will be using the X values. For example: one value is equal to X minus Xmin divided by Xmax by Xmin.

- For StandardScaler, we take the origin
minus the mean of the distribution divided by the standard deviation
of the distribution.

- Now, let's check the same for StandardScaler and see how the data varies.

In [ ]:
df_SS = trans_SS.fit_transform(X)
pd.DataFrame(df_SS)

,0,1,2,3,4,5,6,7
0,-0.565736,-0.502445,-1.231645,-0.510152,0.902587,-0.307562,0.619306,0.737695
1,0.663861,0.786845,-1.231645,-0.510152,-1.107926,-0.307562,-1.614710,-1.355574
2,-0.258337,-0.488854,0.811922,-0.510152,0.902587,-0.307562,0.619306,-1.355574
3,0.433312,0.420730,-1.231645,-0.510152,-1.107926,-0.307562,0.619306,-1.355574
4,0.433312,-0.486337,0.811922,-0.510152,0.902587,-0.307562,0.619306,0.737695
...,...,...,...,...,...,...,...,...
886,-0.181487,-0.386671,0.811922,1.960202,-1.107926,-0.307562,0.619306,0.737695
887,-0.796286,-0.044381,0.811922,-0.510152,-1.107926,-0.307562,0.619306,-1.355574
888,-0.104637,-0.176263,-1.231645,-0.510152,0.902587,-0.307562,0.619306,-1.355574
889,-0.258337,-0.044381,0.811922,-0.510152,-1.107926,-0.307562,-1.614710,0.737695
890,0.202762,-0.492378,0.811922,-0.510152,0.902587,3.251373,-1.614710,0.737695

__Observations:__

- As you can see,
the data has negative values too, and it converted the dummies
we created.

- It always depends on the case whether you want to consider
MinMaxScalar or Standardscalar.

So, this is how you prepare the data, cleanse the data, and, if required,
preprocess the data.